
<div class="flex-container">
  <div class="flex-item">
    <% for animal in @animals %>
    <div class="flex-item1"><img class=" image" src="../uploads/<%=animal.image_url %>" alt="picture of animal"></div>
    <div class="flex-item">Name:<%= animal.name %></div>
    <div class="flex-item">Age: <%= animal.age %></div>
    <div class="flex-item">Type: <%= animal.type %></div>
    <div class="flex-item">Breed: <%= animal.breed %></div>
    <div class="flex-item">Admission Date: <%= animal.pretty_date %></div>
    <div class="flex-item">Adoptable: <%= animal.adoptable %></div>
  </div>
</div>
<%end%>