<h1>Animals</h1>

<a href="/animals/new">Add a new animal</a>

<div class="grid">
  <div class="grid-row">
    <% for animal in @animals %>
    <div class="cell"><img class=" image" src="<%=animal.image_url %>" alt="picture of animal"></div>
    <div class="cell">Name:<%= animal.name %></div>
    <div class="cell">Age: <%= animal.age %></div>
    <div class="cell">Type: <%= animal.type %></div>
    <div class="cell">Breed: <%= animal.breed %></div>
    <div class="cell">Admission Date: <%= animal.pretty_date %></div>
    <div class="cell">Adoptable: <%= animal.adoptable %></div>
    <% end %>
  </div>
</div>

