<h1>Animals</h1>

<form action="/filter_by_type">
  <label for="type">Search by type</label>
  <select name="animal_type" id="type">
    <% @animals.each do |animal| %>
    <option value="<%= animal.type %>"><a><%= animal.type %></a></option>
    <% end %>
  </select>
  <input type="submit" value="search">
</form>
<br>
<a href="/animals/new">Add a new animal</a>

<div class="flex-container">
<div class="flex">
    <% for animal in @animals %>
    <div class="flex-item"><img class=" image" src="../uploads/<%=animal.image_url %>" alt="picture of animal"></div>
    <div class="flex-item">Name:<%= animal.name %></div>
    <div class="flex-item">Age: <%= animal.age %></div>
    <div class="flex-item">Type: <%= animal.type %></div>
    <div class="flex-item">Breed: <%= animal.breed %></div>
    <div class="flex-item">Admission Date: <%= animal.pretty_date %></div>
    <div class="flex-item">Adoptable: <%= animal.adoptable %></div>

    <div><a href= "/animals/<%= animal.id %>/edit">Edit details</a></div>
    <% end %>
  </div>
</div>

