<div class="flex-item">Name: <%= @animal.name %></div>
<div class="flex-item">Age: <%= @animal.age %></div>
<div class="flex-item">Type: <%= @animal.type %></div>
<div class="flex-item">Breed: <%= @animal.breed %></div>
<div class="flex-item">Admission Date: <%= @animal.pretty_date %></div>
<div class="flex-item">Adoptable: <%= @animal.adoptable %></div>

<p><a href="/animal/<%= @animals.id %>/edit">Edit customer details</a></p>


